node_modules/
build/
dist/
lib/
bundle/
mobile/src/
/docs
/cosmos-static/icons
coverage/
temp/
.idea
.nvmrc
.DS_Store
cypress/screenshots/
cypress/videos/
cypress/snapshots/actual/
cypress/snapshots/diff/
