@import '../fonts/ubuntu/ubuntu.css';
@import '../fonts/mohave/mohave.css';

html {
  scroll-behavior: smooth;
}

* {
  --color-green: 78, 190, 81;
  --color-green-light: 131, 184, 62;
  --color-green-dark: 66, 171, 68;
  --color-green-more-dark: 39, 148, 41;
  --color-yellow: 221, 182, 61;
}

/* Private clients | Green */
[data-theme='pc'] {
  --color-primary-main: var(--color-green-dark);
  --color-primary-hover: 36, 131, 65;
  --color-primary-active: 36, 95, 52;
  --color-secondary-hover: 36, 131, 65;
  --color-secondary-active: 36, 95, 52;
  --color-gradient-from: 141, 189, 76;
  --color-gradient-to: 69, 172, 69;
}
/* Business clients | Light-Green */
[data-theme='bc'] {
  --color-primary-main: var(--color-green-light);
  --color-primary-hover: 92, 146, 29;
  --color-primary-active: 60, 94, 16;
  --color-secondary-hover: 92, 146, 29;
  --color-secondary-active: 60, 94, 16;
  --color-gradient-from: 141, 189, 76; /* TODO: change color to theme bc */
  --color-gradient-to: 69, 172, 69; /* TODO: change color to theme bc */
}
/* Ecosystem own | Yellow */
[data-theme='eo'] {
  --color-primary-main: var(--color-yellow);
  --color-primary-hover: 187, 151, 39;
  --color-primary-active: 126, 99, 12;
  --color-secondary-hover: 187, 151, 39;
  --color-secondary-active: 126, 99, 12;
  --color-gradient-from: 141, 189, 76; /* TODO: change color to theme eo */
  --color-gradient-to: 69, 172, 69; /* TODO: change color to theme eo */
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-180 {
    transform: rotate(180deg);
  }

  .-translate-x-full {
    transform: translateX(-100%);
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .horizontal-list {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .horizontal-list-item {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
  }

  .gradient-color-text {
    background: linear-gradient(180deg, #42ab44 0%, #f6db7d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  input[type='range'].slider {
    -webkit-appearance: none;
    height: 4px;
    background: transparent;
    border-radius: 5px;
    background-image: linear-gradient(
      rgb(var(--color-primary-main)),
      rgb(var(--color-primary-main))
    );
    background-repeat: no-repeat;
  }

  input[type='range'].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(var(--color-primary-main));
    cursor: pointer;
    box-shadow: none;
  }

  input[type='range'].slider::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgb(var(--color-primary-main));
    cursor: pointer;
    box-shadow: none;
  }

  input[type='range'].slider::-ms-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(var(--color-primary-main));
    cursor: pointer;
    box-shadow: none;
  }

  input[type='range'].slider:disabled {
    background-image: linear-gradient(rgb(201, 202, 204), rgb(201, 202, 204));
    pointer-events: none;
    cursor: default;
  }

  input[type='range'].slider:disabled::-webkit-slider-thumb {
    background: rgb(201, 202, 204);
  }

  input[type='range'].slider:disabled::-moz-range-thumb {
    background: rgb(201, 202, 204);
  }

  input[type='range'].slider:disabled::-ms-thumb {
    background: rgb(201, 202, 204);
  }

  /* Hide arrows */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide arrows */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

/*
  Styling Yandex Map element
 */
/* Hide yandex elements in yandex map */
[class$='-map-copyrights-promo'],
[class$='-copyrights-pane'] {
  display: none;
}
